<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网页键盘</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script>
    (function(){
    try{
        // 初始化主题
        const saved = localStorage.getItem('theme');
        const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        const currentTheme = saved || (prefersDark ? 'dark' : 'light');

        document.body.classList.add(`theme-${currentTheme}`);
    }catch(e){}
    })();
    </script>
    <h1></h1>
        <div class="container">
            <div class="right-align">
                <label class="theme-switch" aria-label="切换夜间模式">
                    <input id="theme-toggle" type="checkbox" />
                    <span class="track">
                    <span class="knob" aria-hidden="true"></span>
                        <svg class="icon icon-sun" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 12.005a4 4 0 1 1-4 4a4.005 4.005 0 0 1 4-4m0-2a6 6 0 1 0 6 6a6 6 0 0 0-6-6z" fill="currentColor"></path>
                            <path d="M5.394 6.813l1.414-1.415l3.506 3.506L8.9 10.318z" fill="currentColor"></path>
                            <path d="M2 15.005h5v2H2z" fill="currentColor"></path>
                            <path d="M5.394 25.197L8.9 21.691l1.414 1.415l-3.506 3.505z" fill="currentColor"></path>
                            <path d="M15 25.005h2v5h-2z" fill="currentColor"></path>
                            <path d="M21.687 23.106l1.414-1.415l3.506 3.506l-1.414 1.414z" fill="currentColor"></path>
                            <path d="M25 15.005h5v2h-5z" fill="currentColor"></path>
                            <path d="M21.687 8.904l3.506-3.506l1.414 1.415l-3.506 3.505z" fill="currentColor"></path>
                            <path d="M15 2.005h2v5h-2z" fill="currentColor"></path>
                        </svg>
                        <svg class="icon icon-moon" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M13.502 5.414a15.075 15.075 0 0 0 11.594 18.194a11.113 11.113 0 0 1-7.975 3.39c-.138 0-.278.005-.418 0a11.094 11.094 0 0 1-3.2-21.584M14.98 3a1.002 1.002 0 0 0-.175.016a13.096 13.096 0 0 0 1.825 25.981c.164.006.328 0 .49 0a13.072 13.072 0 0 0 10.703-5.555a1.01 1.01 0 0 0-.783-1.565A13.08 13.08 0 0 1 15.89 4.38A1.015 1.015 0 0 0 14.98 3z" fill="currentColor"></path>
                        </svg>
                    </span>
                </label>
            </div>
        </div>
    <div class="settings">
        <label for="physical-keyboard-toggle">
            <input type="checkbox" id="physical-keyboard-toggle">
            启用物理键盘映射
        </label>
        <label>
            模式: 
            <select id="mode-toggle">
                <option value="default">键盘</option>
                <option value="keyboard2">键盘2</option>
                <option value="keyboard3">快捷键盘</option>
                <option value="trackpad">触控板</option>
            </select>
        </label>
        <label>
            状态: 
            <button id="connection-status">连接状态</button>
        </label>
    </div>
  <!-- 右下角按钮组 -->
    <div class="fab-wrap" id="fabWrap">
        <div class="pop-list" role="menu" aria-hidden="true" id="popList">
        <button class="fab pop-item" id="pop1" role="menuitem" aria-label="弹出按钮一" title="全屏">
            <svg fill="grey" width="800px" height="800px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="fullscreen"  enable-background="new 0 0 32 32" xml:space="preserve">
                <path d="M9 23h14V9H9V23zM11 11h10v10H11V11z"/>
                <polygon points="7,21 5,21 5,27 11,27 11,25 7,25 "/>
                <polygon points="7,7 11,7 11,5 5,5 5,11 7,11 "/>
                <polygon points="25,25 21,25 21,27 27,27 27,21 25,21 "/>
                <polygon points="21,5 21,7 25,7 25,11 27,11 27,5 "/>
            </svg>
        </button>
        <button class="fab pop-item" id="pop2" role="menuitem" aria-label="弹出按钮二" title="发送剪贴板文字">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.3 17.5" fill="none">
            <g transform="translate(-1.9,0)">
            <path d="M3.5 2a.5.5 0 00-.5.5v12a.5.5 0 00.5.5h7a.5.5 0 010 1h-7A1.5 1.5 0 012 14.5v-12A1.5 1.5 0 013.5 1h2a.5.5 0 010 1h-2zm6.5-.5a.5.5 0 01.5-.5h2A1.5 1.5 0 0114 2.5v9a.5.5 0 01-1 0v-9a.5.5 0 00-.5-.5h-2a.5.5 0 01-.5-.5z" fill="grey" mask="url(#mask)"></path>
            <path fill="grey" d="M5 1.5A1.5 1.5 0 016.5 0h3a1.5 1.5 0 010 3h-3A1.5 1.5 0 015 1.5zM6.5 1a.5.5 0 000 1h3a.5.5 0 000-1h-3z"></path>
                
            <circle cx="11.5" cy="13" r="4.5" fill="#0078d4"></circle>
            <defs>
                <mask id="mask">
                <rect width="100%" height="100%" fill="white"></rect> 
                <circle cx="11.5" cy="13" r="5" fill="black"></circle>
                </mask>
            </defs>
            <g transform="translate(-0.46,0.98)">
                <path id="test" fill="white" d="M10.5 10a.5.5 0 000 1h1.61l-2.05 2.05a.62.62 0 10.88.88L13 11.88V13.5a.5.5 0 001 0v-3a.5.5 0 00-.5-.5h-3z"></path>
            </g>
            </g>
            </svg>
        </button>
        </div>

        <button class="fab fab-main" id="fabMain" aria-haspopup="true" aria-expanded="false" aria-controls="popList" title="打开菜单" type="button">
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5 6.5H17.5M17.5 6.5H20.5M17.5 6.5V9.5M17.5 6.5V3.5" stroke="grey" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M2.5 6.5C2.5 4.61438 2.5 3.67157 3.08579 3.08579C3.67157 2.5 4.61438 2.5 6.5 2.5C8.38562 2.5 9.32843 2.5 9.91421 3.08579C10.5 3.67157 10.5 4.61438 10.5 6.5C10.5 8.38562 10.5 9.32843 9.91421 9.91421C9.32843 10.5 8.38562 10.5 6.5 10.5C4.61438 10.5 3.67157 10.5 3.08579 9.91421C2.5 9.32843 2.5 8.38562 2.5 6.5Z" stroke="grey" stroke-width="1.5"/>
                <path d="M13.5 17.5C13.5 15.6144 13.5 14.6716 14.0858 14.0858C14.6716 13.5 15.6144 13.5 17.5 13.5C19.3856 13.5 20.3284 13.5 20.9142 14.0858C21.5 14.6716 21.5 15.6144 21.5 17.5C21.5 19.3856 21.5 20.3284 20.9142 20.9142C20.3284 21.5 19.3856 21.5 17.5 21.5C15.6144 21.5 14.6716 21.5 14.0858 20.9142C13.5 20.3284 13.5 19.3856 13.5 17.5Z" stroke="grey" stroke-width="1.5"/>
                <path d="M2.5 17.5C2.5 15.6144 2.5 14.6716 3.08579 14.0858C3.67157 13.5 4.61438 13.5 6.5 13.5C8.38562 13.5 9.32843 13.5 9.91421 14.0858C10.5 14.6716 10.5 15.6144 10.5 17.5C10.5 19.3856 10.5 20.3284 9.91421 20.9142C9.32843 21.5 8.38562 21.5 6.5 21.5C4.61438 21.5 3.67157 21.5 3.08579 20.9142C2.5 20.3284 2.5 19.3856 2.5 17.5Z" stroke="grey" stroke-width="1.5"/>
            </svg>
        </button>
    </div>
    <!-- 将键盘和新的触控板区域包裹在一个容器里 -->
    <div id="input-area-container">
        <div id="keyboard">
            <!-- SVG 将通过 JS 动态注入到这里，作为底层布局 -->
            <!-- 交互层，一个空的 div，绝对定位于 SVG 之上 -->
            <div id="interaction-layer"></div>
        </div>
        <div id="trackpad-area"></div>
    </div>
    <div id="auth-overlay">
        <div class="auth-box">
            <h2>身份验证</h2>
            <p>请输入服务器控制台上显示的 6 位 PIN 码</p>
            <input title="PIN 码" type="tel" inputmode="numeric" id="pin-input" maxlength="6" autocomplete="off">
            <script>
            document.getElementById('pin-input').addEventListener('input', (e) => {
            e.target.value = e.target.value.replace(/\D+/g, '');
            });
            </script>
            <p id="auth-message"></p>
            <button id="connect-button">连接</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>